/* pc.css */
body {
    /* background-color: lightblue; */
    background-color: var(--bg-color1);
    color: var(--text-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* outline: 2px solid red; */
    padding-left: 20px;
    padding-left: 20px;
}

header {
    /* background: #ccc; */
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

header h1 {
    font-size: 22px;
}

header a {
    color: var(--text-color);
}

header .icons li {
    display: inline-block;
    margin-left: 1em;
}

.hero {
    background-image: url('../images/profile.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
    max-width: 1200px;
    margin: 0 auto;
}

#title {
    /* background-color: pink; */
    height: calc(100vh - 100px);
}

#title h2 {
    font-size: 70px;
}

#title p {
    color: var(--text-color2);
}

#title {
    display: flex;
    align-items: center;
}

#title h2 {
    margin-bottom: 40px;
}

#title p { margin-bottom: 60px;}

#skills {
    margin-top: 100px;
    padding: 80px 20px;
    border-top: 1px solid rgba(255,255,255,0.3);
}

#skills h3 {
    font-size: 34px;
}

#skills .skill-list {
    display: flex;
    flex-wrap: wrap;
}

#skills .skill-list li {
    /* outline: 1px solid red; */
    width: calc(100% / 3);
    padding-bottom: 70px; 
    padding-right: 50px;
}

#skills .skill-list li p {
    color: var(--text-color2);
    margin-top: 1em;
}